/*
 *= require code
 *= require common
 */
@charset "utf-8";

body {
  // background-image: url(http://subtlepatterns.com/patterns/noisy_grid.png);
}


.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
.container{
  width: 800px;
  margin: 0 auto;
  /*text-align: center;*/
}
nav{
  // height: 100px;
  box-sizing: border-box;
  position: relative;
  width: 800px;
  padding: 20px 80px 5px 80px;
  border-bottom: 1px solid #999;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  .logo{
    font-size: 30px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    .bold{
      font-size: 2em;
      font-weight: bold;
      color: rgb(59, 59, 59);
      transition: color 0.5s;
    }
    &:hover .bold{
      color: rgb(48, 89, 133);
    }
  }
  .menu{
    position: absolute;
    right: 80px;
    bottom: 5px;
    margin: 0;
    height: 28px;
    .item{
      line-height: 28px;
      float: left;
      list-style-type: none;
      padding: 0 20px;
      cursor: pointer;
    }
  }
}
.footer{
  height: 60px;
  width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  border-top: 1px solid rgb(59, 59, 109);
  padding: 20px 80px;
  .power-by{
    text-align: center;
    a{
      color:#333;
      text-decoration: underline;
      &:hover{
        color:#333;
      }
      &:active{
        color:#333;
      }
      &:visited{
        color:#333;
      }
    }
  }
}