.container {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 13px Noto Sans, arial, 'LiHei Pro', 微軟正黑體, freesans, clean, sans-serif;
  line-height: 1.4;
  color: #555;
  font-size: 16px;
  line-height: 2;
  overflow: hidden;
  word-wrap: break-word;
}

.container a {
  background: transparent;
}

.container a:active,
.container a:hover {
  outline: 0;
}

.container strong {
  font-weight: bold;
}

.container h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.container img {
  border: 0;
}

.container hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.container pre {
  overflow: auto;
}

.container code,
.container pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.container table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container td,
.container th {
  padding: 0;
}

.container * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container a {
  color: rgb(32, 92, 156);
  text-decoration: none;
  transition: color 0.3s;
}

.container a:hover {
  color: rgb(32, 92, 156);
  text-decoration: none;
}

.container a:focus,
.container a:active {
  text-decoration: underline;
}

.container hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.container hr:before,
.container hr:after {
  content: " ";
  display: table;
}

.container hr:after {
  clear: both;
}

.container ol ol {
  list-style-type: lower-roman;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.container h1 {
  font-size: 30px;
}

.container h2 {
  font-size: 21px;
}

.container h3 {
  font-size: 16px;
}

.container h4 {
  font-size: 14px;
}

.container h5 {
  font-size: 12px;
}

.container h6 {
  font-size: 11px;
}

.container blockquote {
  margin: 0;
}

.container ul,
.container ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container dd {
  margin-left: 0;
}

.container code,
.container pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
  background-color: #444;
}
.container p code{
  padding: 0 0.6em;
  margin: 0 0.3em;
  font-weight: 400;
  line-height: 1.2em;
  border-radius: 0.2em;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(221, 221, 221);
}
.container pre {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0.5em;
  padding: 1em 1em;
}

// .container>*:first-child {
//   margin-top: 0 !important;
// }

// .container>*:last-child {
//   margin-bottom: 0 !important;
// }

.container a.anchor {
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.container a.anchor:focus {
  outline: none;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
  position: relative;
}

.container h1 {
  font-size: 2.5em;
}

.container h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.container h3 {
  font-size: 1.5em;
}

.container h4 {
  font-size: 1.2em;
}

.container h5 {
  font-size: 1em;
}

.container h6 {
  color: #777;
  font-size: 1em;
}

.container p,
.container blockquote,
.container ul,
.container ol,
.container dl,
.container table,
.container pre {
  margin: 15px 0;
}

.container pre {
  margin: 10px 0 50px 0;
}
.container p+p{
  // text-indent: 2em;
}
.container p{
  font-size: 1.2em;
}
.container hr {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
  margin: 15px 0;
}

.container ul,
.container ol {
  padding-left: 30px;
}

.container ol ol,
.container ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container dl {
  padding: 0;
}

.container dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin-top: 15px;
}

.container dl dd {
  margin-bottom: 15px;
  padding: 0 15px;
}

.container blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

.container blockquote>:first-child {
  margin-top: 0px;
}

.container blockquote>:last-child {
  margin-bottom: 0px;
}

.container table {
  width: 100%;
  overflow: auto;
  display: block;
}

.container table th {
  font-weight: bold;
}

.container table th,
.container table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.container table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.container table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.container img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.posts{
  h2:before{
    position: absolute;
    left: -22px;
    background-color: rgb(202, 113, 113);
    width: 3px;
    height: 100%;
    content: "";
  }
  .header{
    position: relative;
    text-align: left;
    margin: 40px 80px;
    padding: 20px 0;
    &:before{
      content: "";
      position: absolute;
      height: 100%;
      width: 10px;
      background-color: rgb(202, 113, 113);
      left: -30px;
      top: 0;
    }
    h1{
      line-height: 1.2em;
      margin: 0;
      letter-spacing: .1em;
    }
    .date{
      color: #999;
      font-size: 1.2em;
    }
  }
  .content{
    padding:0 80px 40px 80px;
  }
}

ul.article-list{
  margin-top: 80px;
  font-size: 1.6em;
  line-height: 1.4em;
  padding: 0 80px;
  li{
    position: relative;
    list-style-type: none;
    margin: 1.4em 0;
  }
  li:hover .summary-btn{
    display: inline-block;
    opacity: 1;
  }
  .summary-btn{
    position: absolute;
    right: 0;
    top: -20px;
    font-size: 0.4em;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .summary{
    // display: none;
    padding-left: 20px;
    font-size: 12px;
    line-height: 0;
    h2,h3{
      font-size: 1.4em;
      margin: 0;
    }
  }
  .title{
    display: inline-block;
    width: 100%;
    padding-right: 140px;
  }
  .date{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: #aaa;
  }
}

.chapter-hint{
  position: absolute;
  opacity:0.9;
  width: 130px;
  margin-top: 70px;
  margin-left: -170px;
  transition: opacity 0.5s;
  padding: 14px 0;
  padding-right: 10px;
  text-align: right;
  font-size: 1.2em;
  color: rgb(202, 113, 113);
  border-right: 2px solid #eee;
}
::selection {
    background: #333;
    color: #fff;
}