.footer{
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 80px;
  width: 640px;
  margin: 0 auto;
  margin-left: -320px;
  border-top: 2px solid rgb(59, 59, 109);
  padding: 10px 0;
  .power-by{
    text-align: center;
  }
}