nav{
  // height: 100px;
  position: relative;
  width: 640px;
  border-bottom: 2px solid rgb(59, 59, 109);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  .logo{
    font-size: 28px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    .bold{
      font-weight: bold;
      color: rgb(59, 59, 59);
      transition: color 0.5s;
    }
    &:hover .bold{
      color: rgb(76, 131, 190);
    }
  }
  .menu{
    position: absolute;
    right: 0;
    bottom: 5px;
    margin: 0;
    height: 28px;
    .item{
      line-height: 28px;
      float: left;
      list-style-type: none;
      padding: 0 20px;
      cursor: pointer;
    }
  }
}