@import base/config

footer
  word-break: break-word
  width: 100%
  // margin-top: rhythm(4, 14px)
  min-height: $b-footerHeight
  border-top: 1px solid #eeeeee
  padding: 0.2em 2em
  text-align: center
  font-size: 14px
  font-family: $fontFamilyCode
  color: $gray
  background-color: $white