// *************************************
//
//   Config
//   -> basic properties and constants.
//
// *************************************

// -------------------------------------
//   Color Schema
// -------------------------------------

$blue: #2d5380
$darkenBlue: #0f3866
$lightenBlue: #4c7db6

$paper: #fff9e8
$black: #3c3c3c
$gray: lighten($black, 50%)
$white: white
$whitesmoke: #cccccc
$carmine: #f14e32

// -------------------------------------
//   Color
// -------------------------------------

// -------------------------------------
//   Font
// -------------------------------------

$baseFontSize: 18px
$baseLineHeight: 28.8px

$fontFamilyHeader: "Open Sans", helvetica, arial, "Heiti TC", "Microsoft YaHei", sans-serif
$fontFamilySerif: Georgia, Cambria, "Times New Roman", Times, "Heiti TC", "Hiragino Sans GB", "微軟正黑體", "Microsoft JhengHei", serif
$fontFamilyContent: $fontFamilySerif
$fontFamilyCode: "Source Code Pro", monospace

// $fontFamilyLogo:

// -------------------------------------
//   Width, Height, Space
// -------------------------------------

$titleWidth: 672px
$contentWidth: 720px

// -------------------------------------
//   transition
// -------------------------------------

$default-transition-duration: 0.3s

// -------------------------------------
//   mixin
// -------------------------------------

=content-block
  max-width: $contentWidth
  padding: 0 2em
  margin: 0 auto

=title-block
  padding: 0 $contentWidth - $titleWidth
  margin: 0 auto
  margin-bottom: rhythm(2)