@import compass
@import base/config
.article-list
  +content-block
  position: relative
  margin: rhythm(3) auto
  font-family: $fontFamilyHeader
  list-style: none
  text-align: left
  li
    margin: rhythm(1) auto
    .title
      +adjust-font-size-to(20px)
      display: block
      padding-right: 120px
      a
        color: $blue
        border: 2px solid transparent
        &:hover
          color: $lightenBlue
          border-bottom: 2px solid transparent
    .date
      position: absolute
      display: block
      right: 0
      font-size: 16px
      font-family: $fontFamilyCode
      color: #646E84

  @media (max-width: 500px)
    li .date
      position: relative
    li .title
      padding-right: 0