@import base/config

.tags .container
  text-align: center

.tag
  display: inline-block
  font-family: $fontFamilyCode
  a
    border-bottom: none

.tag-color
  display: inline-block
  width: 0.5em
  height: 0.5em
  border-radius: 50%
  background-color: $gray
  margin-right: 4px

$tag-colors: (ruby: #FD1818, ror: #FF6100, ux: #4E7EB6, 設計: #CD3893, elasticsearch: #74B73F, css: #7E57FA, 前端: #FFD94F)

@each $tag, $color in $tag-colors
  .#{$tag}.tag-color
    background-color: #{$color}

body.tags .tag
  margin: 0.2em 0.5em

.titleBlock .tag
  margin: 0 0.5em