@import base/config

.tag
  display: inline-block
  font-family: $fontFamilyCode
  a
    border-bottom: none
    color: $gray
    &:hover
      color: $blue

.tag-color
  display: inline-block
  width: 0.5em
  height: 0.5em
  border-radius: 50%
  background-color: $gray
  margin-right: 4px

$tag-colors: (ruby: #fd1818, ror: #ff6100, ux: #4e7eb6, 設計: #cd3893, elasticsearch: #74b73f, css: #7e57fa, 前端: #ffd94f)

@each $tag, $color in $tag-colors
  .#{$tag}.tag-color
    background-color: #{$color}

body.tags .tag
  margin: 0.2em 0.5em

.tag-collection
  margin-top: rhythm(4, 14px)
  font-size: 14px

.titleBlock .tag
  margin: 0 0.5em