
<h2>Tag</h2>

<% blog.tags.each do |tag, articles| %>
  <span class="tag">
    <span class="tag-color <%= tag.downcase %>"></span>
    <%= link_to "#{tag} (#{articles.size})", tag_path(tag) %>
  </span>
<% end %>

